#loginContainer {
    position: relative;
    margin: 0 auto;
    width: 500px;
    text-align: center;    
    margin-top: 25px;
    border-radius: 15px !important;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 20px 0px black;
}

#loginContainer h1 {
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
}
#loginContainer #container {
    padding: 10px;
    background-color: #383838;
}

#loginContainer #container input {
    font-size: 12pt;
    margin: 5px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

#loginContainer #container button {
    background-color: rgb(15, 15, 15);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 12pt;
    color: white;
}

#loginContainer #container p {
    color: white;
    margin: 5px; 
    margin-top: 15px;  
}

#center {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #383838;
}